* {
  font-family: 'Inter', 'Poppins', 'Roboto', sans-serif;
}

header,
main div {
  background-color: white;
}

.dark,
.dark button,
.dark input,
.dark header,
.dark main div {
  background-color: black;
  color: white;
}

.dark header,
.dark main > div {
  box-shadow: 0px 0px 10px darkgrey;
}

body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

#app {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark #app {
  background-color: rgb(14, 13, 13);
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h1 {
  display: inline;

  font-size: 1.4rem;
  font-weight: normal;

  text-align: center;
  vertical-align: middle;
}

h3 {
  display: inline;

  font-size: 1.2rem;
  font-weight: normal;

  text-align: center;
  vertical-align: middle;
}

main > div {
  border-radius: 1rem;
  box-shadow: 0px 0px 10px lightgrey;
  padding: 0.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: white;
}

main button {
  text-align: center;

  border-radius: 1rem;
  border: 0.14rem solid lightgrey;

  padding: 0rem 3rem;

  font-size: 3rem;
}

button:hover {
  border: 0.14rem solid rgb(146, 90, 197) !important;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: fit-content;
  background-color: #ffffff00 !important;
}

header {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 0.5rem;

  padding: 0rem 1rem;

  box-shadow: 0px 0px 10px lightgrey;
  align-self: stretch;
}
input {
  background-color: white;
}

@media (max-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
  }

  main button {
    font-size: 2.5rem;
    padding: 0rem 1.8rem;
  }

  main > div {
    padding: 0.5rem 0.5rem;
  }

  p {
    font-size: 0.8rem;
  }
}
