:root {
  --text-accent-one: #750075;
}

.dark {
  --text-accent-one: #f9cdf9;
}

* {
  font-family: 'Inter', 'Poppins', 'Roboto', sans-serif;
}

.dark {
  background-color: black;
  color: white;
}

body,
#app {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.dark #app {
  background: #1a1a2e;
  background: linear-gradient(
    140deg,
    rgba(26, 26, 46, 1) 0%,
    rgba(45, 27, 105, 1) 50%,
    rgba(139, 32, 132, 1) 100%
  );
}

#app {
  background: #f3c4d8;
  background: linear-gradient(140deg, rgba(243, 196, 216, 1) 0%, rgba(196, 220, 242, 1) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h1 {
  display: inline;

  font-size: 1.4rem;
  font-weight: normal;

  text-align: center;
  vertical-align: middle;
  padding: 0rem 0.25rem;
}

h3 {
  display: inline;

  font-size: 1.2rem;
  font-weight: normal;

  text-align: center;
  vertical-align: middle;
}

main > div {
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main button {
  text-align: center;

  border-radius: 1rem;
  border: 0.14rem solid lightgrey;

  padding: 0rem 3rem;

  font-size: 3rem;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: fit-content;
  background-color: #ffffff00 !important;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0rem 2rem;
  border-bottom: 0.05rem solid rgb(75, 75, 75, 0.6);
  width: calc(100vw - 2rem);
}

.dark header {
  border-bottom: 0.05rem solid rgb(211, 211, 211, 0.6);
}

@media (max-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
  }

  main button {
    font-size: 2.5rem;
    padding: 0rem 1.8rem;
  }

  main > div {
    padding: 0.5rem 0.5rem;
  }

  p {
    font-size: 0.8rem;
  }
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.dark .card {
  background: rgba(255, 255, 255, 0.1);
}
